.upcoming {
  /* Create a linear gradient from left to right */
  background: linear-gradient(to right, #ffffff, #ffcb49);
}

.ongoing {
  background: linear-gradient(to right, #ffffff, #7464ff);
}

.completed {
  background: linear-gradient(to right, #ffffff, #4fd2b5);
}

#root {
  background-color: #f8f2f2;
}

.donutChart,
.item-3,
.navbar,
.search-noti-more,
.quickactions {
  background-color: #ffffff;
}

.icon {
  background-color: #e0eaff;
}

.resolve {
  background-color: #1a3875;
}

.todayDate {
  color: #676666;
  /* width: 68px; */
  height: 14px;
  top: 49px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
}

.todayHigh {
  width: 200px;
  height: 19px;
  top: 24px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: 5000;
  line-height: 18.75px;
  text-align: left;
}

.cad {
  font-size: 20px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
  width: 91px;
  height: 19px;
  top: 111px;
  left: 28px;
  gap: 0px;
  opacity: 0px;
  color: #148714;
}

.payments {
  color: #676666;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  width: 150px;
  height: 14px;
  top: 134px;
  left: 28px;
  gap: 0px;
  opacity: 0px;
}

.highlight-card-1,
.highlight-card-2 {
  border: 1px solid #cbcbcb;
}

.highlight-card-1 {
  margin-right: 20px;
}

.completed-title {
  color: #000000;
  width: 180px;
  height: 16px;
  top: 184px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
}

.completed-viewall {
  color: #111111;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  /* width: 43px; */
  height: 14px;
  top: 185px;
  left: 301px;
  gap: 0px;
  opacity: 0px;
}

.listitem {
  /* font-family: Roboto; */
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.addtrailer {
  width: 20px;
  height: 20px;
  top: 16px;
  left: 412px;
  padding: 4.17px 0.83px 2.08px 1.67px;
  gap: 0px;
  opacity: 0px;
}
